# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Directorios de trabajo
data/processed/
data/features/
# data/raw/

# Solo permitir CSVs finales específicos
!data/final/
!data/final/All_features.csv
!data/final/All_features_orange_top8.csv

# Reports: solo permitir reports finales
reports/*
!reports/final_models/
reports/final_models/*
!reports/final_models/Métricas*
!reports/final_models/Comparación_baseline_vs_8_caracteristicas.csv

# IDEs
.vscode/
.idea/