# Dependencias principales de procesamiento
pandas
numpy
scipy
tqdm

# Dependencias de Machine Learning y Validación
scikit-learn
joblib

# Dependencias de Gráficas
matplotlib
seaborn

# Dependencias adicionales para la interfaz
pyqt5 
pyqtgraph 
bleak
